*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------- Header Section--------------------------------------------------------------- */
.header__grid {
    grid-area: header;
}